footer{
    /* position: absolute;
    bottom: -30px; */
    height: 40px;
    width: 100%;
    border-top: 1px solid black;
    padding: 10px 0;
}

.footer-navigation-wrapper{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-navigation-wrapper li{
    text-align: center;
    line-height: 2em;
    margin: 0 20px;
}

.site-footer p{
   text-align: center;
   margin: 0;
}

.footer-navigation-wrapper li a, .site-footer p{
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .footer-navigation-wrapper{
        flex-direction: column;
        justify-content: center;
    }
}