form#filters {
  display: flex;
  width: 1140px;
  margin: 30px auto;
  justify-content: space-between;
}

/* Contains the category and format filter */
.dropdown {
  display: flex;
}

/* category & format */
.dropdown .custom-dropdown {
  margin-right: 5px;
}

/* category, format & date */
.custom-dropdown {
  position: relative;
  display: inline-block;
  margin: 5px 0;
}

.dropdown-header {
  padding: 5px;
  background-color: white;
  cursor: pointer;
  width: 230px;
  height: 30px;
  top: 51px;
  left: 20px;
  padding: 11px 15px 11px 15px;
  text-transform: uppercase;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.dropdown-options {
  z-index: 99;
  position: absolute;
  background-color: #fff;
  width: 260px;
  border-radius: 0 0 8px 8px;
  top: 55px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.option {
  padding: 5px;
  cursor: pointer;
  text-transform: capitalize;
  padding: 11px 24px 11px 24px;
}

.option:hover {
  background-color: #E00000;
  color: white;
}

.custom-dropdown.open .dropdown-options {
  opacity: 1;
  visibility: visible;
}

.custom-dropdown.open {
  border: 1px solid #215AFF;
  border-radius: 8px 8px 0 0;

}

.custom-dropdown.open .dropdown-header {
  border: none;
}

/***************  MEDIA QUERIES ******************/
@media screen and (min-width: 1720px) {
  /* FORM SIZE */
  form#filters {
    width: 1722px;
  }
}

/*  max screen size */
@media screen and (min-width: 2295px) {
  /* FORM SIZE */
  form#filters {
    width: 2290px
  }
}

/* BETWEEN 768px TO 1147px */
@media screen and (min-width: 768px) and (max-width: 1147px) {
  /* IMAGE SIZE */
  .block-photo-wrapper {
    width: 48%;
  }
  /* FORM SIZE */
  form#filters {
    width: 97%;
  }
}

/*  Mobile & Tablet */
@media screen and (max-width: 768px) {
  /* FORM SIZE */
  form#filters {
    width: 564px;
    overflow: visible;
  }
}
