.block-photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block-photo img {
    /* sets the image to its container */
    max-width : 100%;
    height : auto;
}
.block-photo-wrapper{
    position: relative;
    margin: 5px;
}

@media screen and (max-width: 768px){
    .block-photo{
      padding: 0 20px;
    }
}