.single-page{
    width: 1148px;
    margin: 0 auto;
}

.single-page-photo{
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    height: 100%;
    min-height: 100vh;
    max-width: 100vw;
    margin-top: 30px; */
    height: calc(100vh - 80px);
    padding: 0 12px;
}

/* */
.single-page-photo-first{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: calc(100% - 118px);
    box-sizing: border-box;
    padding-top: 30px;
}

.single-page-photo-text, .single-page-photo-image{
    width: 50%;
    position: relative;
    box-sizing: border-box;
}

.single-page-photo-text{
    /* display: flex;
    flex-direction: column;
    justify-content: end; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto;
}

.single-page-photo-text h2{
    font-size: 9vh;
    line-height: 8vh;
}

.single-page-photo-text p{
    font-family: 'Space mono';
    text-transform: uppercase;
    margin: 0;
    font-size: 2vh; 
    line-height: 6vh;
}

.single-page-photo-image{
    /*position: relative;
    display: flex;
    align-self: flex-end; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.single-page-photo-image img{
    /* width: 100%;
    height: 100%; 
    object-fit: contain; */
    width: min-content;
    height: min-content;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

.single-page-photo-image .overlay-single{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    color: white;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-page-photo-image .overlay-single:hover {
    opacity: 1;
}

.single-page-photo-borderSubInfos{
    border-top: 1px solid black;
    /* width: 49%; */
    width: 50%;
}

/* SUB PHOTO PART */
.single-page-sub-photo{
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 20px 0;
    width: 100%;
    height: 118px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    height: 118px;
    text-align: center;
    /* line-height: 118px; */
}

.single-page-sub-photo-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 49%; */
    width: 50%;
}

.single-page-sub-photo-contact p{
    font-size: 14px;
}

.single-page-sub-photo-contact button{
    margin: 0;
}

/* *************  NAVIGATION SINGLE PHOTO  **************/
.single-page-sub-photo-miniature{
    text-align: end;
    width: 50%;
}

.single-page-sub-photo-miniature .nav-links img{
    width: 81px;
    height: 71px;
}

.nav-links{
    position: relative;
    transition: 0.3s;
    display: flex;
    align-items: baseline;
    justify-content: end;
}

.meta-nav{
    position: absolute;
    bottom: -50px;
    right: 0;
}

.nav-next .meta-nav{
    right: 50px;
}

.nav-links img{
    display: none;
    position: absolute;
    top: -50px;
    right: -6px;
}

.nav-previous:hover img{
   display: block;
   animation: lightboxIn .5s;
}

.nav-next:hover img{
    display: block;
    animation: lightboxIn .5s;
}
/* *************  NAVIGATION END **************/

/* Title gallery section */
.single-page h3{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 12px;
}

@keyframes lightboxIn{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}

/* *******************  MEDIA QUERIES  **********************/
@media screen and (max-width: 1148px){
    .single-page{
        width: 85%;
    }
}
@media screen and (max-width: 768px){
    .single-page{
        width: 100%;
    }

    .single-page-photo{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: hidden;
        height: 100%;
        min-height: 100vh;
        max-width: 100vw;
        margin-top: 30px;
        padding: 0;
    }

    .single-page-photo-first{
        flex-direction: column;
    }

    .single-page-photo-text, .single-page-photo-image, .single-page-sub-photo{
        width: 100%;
    }

    .single-page-photo-first, .single-page-sub-photo{
        padding: 10px 40px;
    }

    .single-page-photo-text{
        border-bottom: none;
        order: 1;
    }

    .single-page-photo-text h2{
        font-size: 66px;
        line-height: 58px;
    }
    
    .single-page-photo-text p{
        font-size: 14px; 
        line-height: 21px;
        margin: 14px;
    }
    
    .single-page-photo-image{
        order: 0;
        width: 100%;
    }

    .single-page-photo-borderSubInfos{
        width: 100%;
        order: 2;
    }

    .single-page-photo-border{
        display: block;
        border-bottom: 1px solid black;
    }

    /* sub photo part */
    .single-page-sub-photo{
        display: block;
        order: 3;
    }

    .single-page-sub-photo-contact{
        width: 100%; 
        margin: auto;
        flex-direction: column;
    }

    .single-page-sub-photo-contact p{
        text-align: left;
    }

    .single-page-sub-photo-contact button{
        width: 100%;
        margin: 0;
    }

    .single-page-sub-photo-miniature{
        display: none;
    }

    .single-page h3{
        text-align:center;
    }

    .single-page .loadmore_block{
        display: none;
    }
}